html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.dialogue {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.inventory {
    padding: 0;
    position: fixed;
    bottom: 0px;
    background-color: transparent;
    color: white;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.inventory li {
    list-style-type: none;
}

.inventory p {
    font-weight: bold;
    position: fixed;
    bottom: 35px;
    background-color: transparent;
    color: white;
    text-align: left;
}

.welcome-screen {
    z-index: 1;
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.welcome-screen img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
}

.loadingBar {
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
}

.loadingBar h3 {
    color: white;
    padding: 5px;
}

.startTxt {
    color: white;
    font-size: 25px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
}

.hidden {
    display: none;
}