html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.inventory {
    padding: 0;
    position: fixed;
    bottom: 0px;
    background-color: transparent;
    color: white;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.inventory li {
    list-style-type: none;
}

.inventory p {
    font-weight: bold;
    position: fixed;
    bottom: 35px;
    background-color: transparent;
    color: white;
    text-align: left;
}

.dialogue {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 30px;
}